<div class="hamburger" id="hamburger-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div id="menu-overlay">
    <div class="menu-content">
        <div class="menu-container">
            <!-- Left Column: Main Nav -->
            <div class="menu-main">
                <ul class="menu-list">
                    <li><a href="{{ROOT}}index.html">Top</a></li>
                    <li class="has-submenu submenu-sodre">
                        <div class="submenu-header">
                            <a href="{{ROOT}}about.html">SoDRéとは？</a>
                            <span class="submenu-toggle"><i class="fas fa-chevron-down"></i></span>
                        </div>
                        <ul class="submenu-tree">
                            <li><a href="{{ROOT}}about.html#section-1">1. 対話的内省教育の暇</a></li>
                            <li><a href="{{ROOT}}about.html#section-2">2. 内省とは</a></li>
                            <li><a href="{{ROOT}}about.html#section-3">3. 個人的・対話的内省</a></li>
                            <li><a href="{{ROOT}}about.html#section-4">4. 対話のルール</a></li>
                            <li><a href="{{ROOT}}about.html#section-5">5. 対話のトピック</a></li>
                            <li><a href="{{ROOT}}about.html#section-6">6. SoDRéのこだわり</a></li>
                            <li><a href="{{ROOT}}about.html#section-7">7. 安全とプライバシー</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ROOT}}schedule.html">開催スケジュール</a></li>
                    <li class="has-submenu">
                        <div class="submenu-header">
                            <a href="{{ROOT}}members.html">運営メンバー</a>
                            <span class="submenu-toggle"><i class="fas fa-chevron-down"></i></span>
                        </div>
                        <ul class="submenu-tree">
                            <li><a href="{{ROOT}}member/tajiaki.html">たじあき</a></li>
                            <li><a href="{{ROOT}}member/mizu.html">葵月 みず</a></li>
                            <li><a href="{{ROOT}}member/leo.html">今野 レオ</a></li>
                            <li><a href="{{ROOT}}member/towa.html">杉本 とわ</a></li>
                            <li><a href="{{ROOT}}member/hibiki.html">寺田 ひびき</a></li>
                            <li><a href="{{ROOT}}member/jun.html">ジュンちゃん</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ROOT}}plans.html">無料体験会・料金</a></li>
                    <li><a href="{{ROOT}}voices.html">参加者のお声</a></li>
                    <li><a href="{{ROOT}}qa.html">Q&A</a></li>
                </ul>
            </div>

            <!-- Right Column: Updates -->
            <div class="menu-sub">
                <ul class="menu-list sub-list">
                    <li><a href="{{ROOT}}news.html">News</a></li>
                    <li><a href="{{ROOT}}topics.html">Topics</a></li>
                    <li><a href="{{ROOT}}diary.html">Diary</a></li>
                    <li class="member-login"><a href="{{ROOT}}login.html"><i class="fas fa-sign-in-alt"></i> Member
                            Login</a></li>
                    <li><a href="{{ROOT}}application.html" class="btn-menu-cta">お申し込み</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
